/*aqui empieza el encabezad*/
#logoinicio{
    width: 70px;
    height: 70px;
    margin-left: 20px;
    margin-right: 20px;
}
#titulocompleto{
    color: rgb(220, 230, 247);
}
#titulop{
    display: none;
}
div#redes{
    display: flex;
    align-items: center;
    margin-right: 15px;
}
button{
    color: cornflowerblue;
    margin-left: 5px;
    cursor: pointer;
}

.contenedor {
    background-color: rgb(49, 49, 49);
    border-radius: 20px;
    padding: 20px;
    display:
    flex;
    margin-top: 10px;
  }
  header{
    justify-content: space-between;
  }
/*aqui termina el encabezado*/
/*aqui empieza el cuerpo de la pagina*/
#cancion1{
    width: 225px;
    height: 225px;
    margin-top: 10px;
    margin-left: 20px;
}
#cancion2{
    width: 225px;
    height: 225px;
    margin-top: 10px;
    margin-left: 20px;
}
#cancion3{
    width: 225px;
    height: 225px;
    margin-top: 10px;
    margin-left: 20px;
}
#cancion4{
    width: 225px;
    height: 225px;
    margin-top: 10px;
    margin-left: 20px;
}
#cancion5{
    width: 225px;
    height: 225px;
    margin-top: 10px;
    margin-left: 20px;
}
#cancion6{
    width: 225px;
    height: 225px;
    margin-top: 10px;
    margin-left: 20px;
}
#cancion7{
    width: 225px;
    height: 225px;
    margin-top: 10px;
    margin-left: 20px;
}
#cancion8{
    width: 225px;
    height: 225px;
    margin-top: 10px;
    margin-left: 20px;
}
#cancion9{
    width: 225px;
    height: 225px;
    margin-top: 10px;
    margin-left: 20px;
}
#cancion10{
    width: 225px;
    height: 225px;
    margin-top: 10px;
    margin-left: 20px;
}
#yt-music-nombrecancion{
    display: flex;
}
#iconoclsificacion{
    margin-left: 5px;
    margin-right: 5px;
}
#ytmusic-carrusel{
    display: flex;
    justify-content: flex-start
}
#items-nom-des1{
    margin-left: 20px;
}
#items-nom-des{
    margin-top: 15px;
    margin-left: 20px;
}