@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@600&family=PT+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@600&family=PT+Sans:wght@700&family=Roboto:wght@700&display=swap');

/*aqui empieza el encabezad*/
#logoinicio{
    width: 70px;
    height: 70px;
    margin-left: 20px;
    margin-right: 20px;
}
#titulocompleto{
    color: rgb(220, 230, 247);
}
#titulop{
    display: none;
}
div#redes{
    display: flex;
    align-items: center;
    margin-right: 15px;
}
button{
    color: cornflowerblue;
    margin-left: 5px;
    cursor: pointer;
}

.contenedor {
    background-color: rgb(49, 49, 49);
    border-radius: 20px;
    padding: 20px;
    display:
    flex;
    margin-top: 10px;
  }
  header{
    justify-content: space-between;
  }
/*aqui termina el encabezado*/
/*aqui empieza el cuerpo de la pagina*/
.imgcancion{
    width: 225px;
    height: 225px;
    margin-top: 10px;
    margin-left: 20px;
}
.yt-music-nombrecancion{
    display: flex;
    font-family: 'Roboto', sans-serif;
}
.iconoclsificacion{
    margin-left: 5px;
    margin-right: 5px;
}
#ytmusic-carrusel{
    display: flex;
    justify-content: flex-start;
}
#items-nom-des1{
    margin-left: 20px;
}
.items-nom-des{
    margin-top: 15px;
    margin-left: 20px;
}
.des{
    font-family: 'PT Sans', sans-serif;
}
.ytmusic-shelf{
    display: flex;
    justify-content:space-between;
}
.boton-grupo{
    margin-right: 100px;
    margin-top: 35px;
}.ytmusic-carrusel{
    margin-left: 50px;
    margin-top: 5px;
}
#ytmusic-carrusel{
    margin-left: 25px;
}
.material-symbols-outlined{
    cursor: pointer;
}
.artistas{
    display: flex;
    flex-direction: row;
}
.artista{
    text-decoration: none;
    color: rgb(146, 146, 146);
}
.artista2 a{
    text-decoration: none;
    color: rgb(146, 146, 146);
}
#linkaalbun{
    color:rgb(124, 124, 124);
    margin-left: 5px;
}
.iconoplay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contenedorimg{
    position: relative;
    display: inline-block;
    text-align: center;
}